@import '../../_globals/mixins.scss';

.container {
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    border: 3px solid red;
    display: flex;
    position: relative;
    padding-top: 60px;
    padding: 3%;
    color: white;

    .navdiv {
        justify-content: space-between;
        align-items: center;
        

        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
        }
    }
}
  